{% extends 'base.html.twig' %}

{% block title %}Hello AccountController!{% endblock %}

{% block body %}
    <div class="text-center mt-3">

        <h1>Bienvenue sur Manager Sport {{ app.user.firstname }} {{ app.user.lastname }}</h1>
        <h3>Consultez toutes les infos relatives à votre club</h3>

    <div class="col-md-4 mt-5 mb-3">
        <div class="card">

            <h3><a class="card-title" href="{{ path('home') }}">Accueil</a></h3>

        </div>
    </div>

        <div class="col-md-4 mt-5 mb-3">
            <div class="card">

                <h3><a class="card-title" href="{{ path('team') }}">Les effectifs</a></h3>

            </div>
        </div>
        <div class="col-md-4 mt-5 mb-3">
            <div class="card">

                <h3><a class="card-title" href="{{ path('resultat') }}">Les derniers résultats</a></h3>

            </div>
        </div>
        <div class="col-md-4 mt-5 mb-3">
            <div class="card">

                <h3><a class="card-title" href="{{ path('calendrier') }}">Le calendrier</a></h3>

            </div>
        </div>
<div class="col-md-4 mt-5 mb-3">
            <div class="card">

                <h3><a class="card-title" href="{{ path('media') }}">Médias</a></h3>

            </div>
        </div>

{#        {% if is_granted('ROLE_ADMIN') %}#}
{#            <h3>You're administrator ➡️<a class="text-decoration-none text-primary" href="admin">  Go to Backoffice ?</a></h3>#}
{#        {% endif %}#}
    </div>
{% endblock %}