{% extends 'base.html.twig' %}

{% block title %}Effectifs{% endblock %}

{% block body %}
    <style>
        .titrejoueurs h1{
            margin-top: 80px;
        }
    </style>
    <div class="titrejoueurs">
 <h1 class="m-3">Effectif</h1>

    <table id="sortTable" class="table mt-5 table-striped table-dark table-responsive" data-toggle="table">
        <thead>
        <tr>
            <th>Nom</th>
            <th>Prénom</th>
            <th>Téléphone</th>
            <th>Poste</th>
            <th>Licence</th>
            <th>Equipe</th>
            <th>Détails</th>
        </tr>
        </thead>
        <tbody>
        {% for player in players %}
            <tr>
                <td>{{ player.name }}</td>
                <td>{{ player.firstname }}</td>
                <td>{{ player.phone }}</td>
                <td>{{ player.position }}</td>
                <td>{{ player.licence }}</td>
                <td>{{ player.equipe }}</td>

                <td><a href="{{ path('player',  {'licence': player.licence} ) }}" class="btn btn-primary">Fiche</a></td>

            </tr>
        {% else %}
            <tr>
                <td colspan="5">no records found</td>
            </tr>

        {% endfor %}

    </table>
</div>

{% endblock %}
