{% extends 'base.html.twig' %}

{% block title %}Detail joueur{% endblock %}

{% block body %}
<style>
    .bloc{
        margin-top: 80px;
    }
</style>

<div class="bloc">
    <h1 class="m-1 text-center">{{ player.firstname }} {{ player.name }}</h1>
    <h2 class="text-center">{{ age }} ans </h2>
    <div class="container d-flex justify-content-center">


            <div class="col-md-6 mt-5 mb-3">
                <div class="card">

                        {% if player.photo %}

                            <img src="/img/{{ player.photo }}" class="card-img-top img-fluid" alt="...">

                        {% else %}

                            <img src="/img/vide.png" class="card-img-top img-fluid" alt="...">

                        {% endif %}

                    <div class="card-body">

                        <h3 class="card-text">{{ player.position }}</h3>
                        <h3 class="card-text">{{ player.equipe }}</h3>
                        <h3 class="card-text">Licence : {{ player.licence }}</h3>
                        <h3 class="card-text">Tél : {{ player.phone }}</h3>
                        <h4 class="card-text">Email : {{ player.email }}</h4>
                        <h4 class="card-text">Adresse : {{ player.adressePostale }}</h4>


                    </div>
                </div>
            </div>


    </div>
</div>
{% endblock %}
