{% extends 'base.html.twig' %}

{% block title %}Calendrier{% endblock %}

{% block body %}
    <br>
    <br>
    <h1 class="mt-5">Calendrier</h1>

    <table class="table mt-5 table-dark">
        <thead>
        <tr>
            <th>Date</th>
            <th>Type</th>
            <th>Domicile</th>
            <th>Exterieur</th>
            <th>Stade</th>
            <th>Détail</th>
        </tr>
        </thead>
        <tbody>
        {% for calendrier in calendrier %}
            <tr>
                <td>{{ calendrier.heureBis.format('d-m-Y à H:i') }}</td>
                <td>{{ calendrier.type }}</td>

                {% if calendrier.domicile %}
                  <td>{{ calendrier.equipe }}</td>
                  <td>{{ calendrier.adversaire }}</td>
                {% else %}
                    <td>{{ calendrier.adversaire }}</td>
                    <td>{{ calendrier.equipe }}</td>
                {% endif %}

                    <td>{{ calendrier.stade }}</td>

                    <td> <a href="{{ path('caldetail',  {'id': calendrier.id} ) }}">Détails {{ calendrier.id }}</a></td>

            </tr>
        {% else %}
            <tr>
                <td colspan="5">no records found</td>
            </tr>
        {% endfor %}
    </table>

{% endblock %}
