{% extends 'base.html.twig' %}

{% block title %}Calendrier{% endblock %}

{% block body %}

    <br>
    <br>
    <h1 class="mt-5">Calendrier</h1>

    <table id="sortTable" class="table mt-5 table-striped table-dark" data-toggle="table">
        <thead>
        <tr>
            <th>Date</th>
            <th>Type</th>
            <th>Evenement</th>
            <th>Domicile</th>
            <th>Exterieur</th>
            <th>Score</th>
            <th>Détail</th>
        </tr>
        </thead>
        <tbody>
        {% for calendrier in calendrier %}
            <tr>
                <td>{{ calendrier.heureBis.format('d-m-Y à H:i') }}</td>
                <td>{{ calendrier.type }}</td>
                <td>{{ calendrier.event }}</td>

                {% if calendrier.domicile %}
                  <td>{{ calendrier.equipe }}</td>
                  <td>{{ calendrier.adversaire }}</td>
                {% else %}
                    <td>{{ calendrier.adversaire }}</td>
                    <td>{{ calendrier.equipe }}</td>
                {% endif %}
                <td>{{ calendrier.score }}</td>


                    <td> <a title="Le détail du match {{ calendrier.equipe }} - {{ calendrier.adversaire }}" href="{{ path('caldetail',  {'id': calendrier.id} ) }}">Détails</a></td>

            </tr>
        {% else %}
            <tr>
                <td colspan="5">no records found</td>
            </tr>

        {% endfor %}

    </table>

    <script>
        $('#sortTable').DataTable();
    </script>

{% endblock %}
