{% extends 'base.html.twig' %}

{% block title %}Calendrier{% endblock %}

{% block body %}

    <h1 class="m-3">Calendrier</h1>

    <div class="container">

        {%  for calendrier in calendrier %}
        {%  if (calendrier.afficher) %}

            <div class="col-md-4 mt-5 mb-3">
                <div class="card">

                    <div class="card-body">
                        <h2 class="card-title">{{ calendrier.type }} </h2>

                        <h2 class="card-title">
                            <a href="{{ path('calequipe',  {'nom': calendrier.equipe} ) }}">{{ calendrier.equipe }}</a> - {{ calendrier.adversaire }}
                        </h2>

                        <h3 class="card-title">{{ calendrier.heureBis.format('d-m-Y à H:i') }} </h3> <br>
                            <a href="{{ calendrier.lieu }}" class="card-title">{{ calendrier.stade }}</a>
{#                        {{ calendrier.carte }}#}
                        <div class="m-3">
                            <iframe src="{{ calendrier.carte }}" width="90%"  style="border:0;" allowfullscreen="" loading="lazy"></iframe>
                        </div>

                    </div>
                </div>

            </div>

        {% endif %}
        {% endfor %}

    </div>
{% endblock %}
